<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
</head>
<body>

    <h1>GROCERY LIST</h1>
    <h2><a href="meal-plan">Meal Plan</a></h2>

    <h3>FRUIT/VEGETABLE</h3>
    <form action="/addGrocery" method="POST">
        <input type="text" placeholder="Add Item" name="itemName">
        <input type="hidden" name="category" value="produce">
        <input type="hidden" name="numItem" value="0">
        <button type="submit">Add</button>
    </form>

    <ul class="items">
        <% for(let i = 0; i < groceryListItems.length; i++) { %>
            <% if(groceryListItems[i].category === 'produce') { %>
            <li class="item">
                <span><%= groceryListItems[i].itemName %></span>
                <button id="add-num-button">+</button>
                <span id="num-of-item"></span>
                <button id="sub-num-button">-</button>
            </li>
            <% } %>
        <% } %>
    </ul>
   
    
    <h3>PROTEIN</h3>
    <form action="/addGrocery" method="POST">
        <input type="text" placeholder="Add Item" name="itemName">
        <input type="hidden" name="category" value="protein">
        <input type="hidden" name="numItem" value="0">
        <button type="submit">Add</button>
    </form>
    <ul class="items">
        <% for(let i = 0; i < groceryListItems.length; i++) { %>
           <% if(groceryListItems[i].category === 'protein') { %> 
            <li class="item">
                <span><%= groceryListItems[i].itemName %></span>
                <button id="add-num-button">+</button>
                <span id="num-of-item"></span>
                <button id="sub-num-button">-</button>
            </li>
            <% } %>
        <% } %>
    </ul>
   

    <h3>GRAINS/LEGUMES/NUTS/SEEDS</h3>
    <form action="/addGrocery" method="POST">
        <input type="text" placeholder="Add Item" name="itemName">
        <input type="hidden" name="category" value="pantry">
        <input type="hidden" name="numItem" value="0">
        <button type="submit">Add</button>
    </form>

    <ul class="items">
    <% for(let i = 0; i < groceryListItems.length; i++) { %>
        <% if(groceryListItems[i].category === 'pantry') { %>
            <li class="item">
                <span><%= groceryListItems[i].itemName %></span>
                <button id="add-num-button">+</button>
                <span id="num-of-item"></span>
                <button id="sub-num-button">-</button>
            </li>
      <% } %>  
    <% } %>
    </ul>
   

    <h3>FATS/SPICES/COND</h3>
    <form action="/addGrocery" method="POST">
        <input type="text" placeholder="Add Item" name="itemName">
        <input type="hidden" name="category" value="condiments">
        <input type="hidden" name="numItem" value="0">
        <button type="submit">Add</button>
    </form>

    <ul class="items">
        <% for(let i = 0; i < groceryListItems.length; i++) { %>
            <% if(groceryListItems[i].category === 'condiments') { %>
                <li class="item">
                    <span><%= groceryListItems[i].itemName %></span>
                    <button id="add-num-button">+</button>
                    <span id="num-of-item"></span>
                    <button id="sub-num-button">-</button>
                </li>
          <% } %>  
        <% } %>
    </ul>
 

    <h3>OTHER</h3>
    <form action="/addGrocery" method="POST">
        <input type="text" placeholder="Add Item" name="itemName">
        <input type="hidden" name="category" value="other">
        <input type="hidden" name="numItem" value="0">
        <button type="submit">Add</button>
    </form>

    <ul class="items">
        <% for(let i = 0; i < groceryListItems.length; i++) { %>
            <% if(groceryListItems[i].category === 'other') { %>
                <li class="item">
                    <span><%= groceryListItems[i].itemName %></span>
                    <button id="add-num-button">+</button>
                    <span id="num-of-item"></span>
                    <button id="sub-num-button">-</button>
                </li>
          <% } %>  
        <% } %>
    </ul>
    

    <script src="js/main.js"></script>
</body>
</html>