<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/assets/grocery-cart-color.png">

  </head>
<body>

    <!-- Chris Styling Begin -->
    <div id="grocery-list" class="bg-white">

        <!-- Header Start -->
        <header class="absolute inset-x-0 top-0 z-50">
          <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
              <a href="index.html" class="-m-1.5 p-1.5">
                <span class="sr-only">Meal Plan Grocery List</span>
                <!-- we use the below path for the image because of our app.use(express.static('public')) in server.js -->
                <img class="h-12 w-auto" src="/assets/grocery-cart-color.png" alt="grocery cart">
              </a>
            </div>
            <!-- <div class="flex lg:hidden">
              <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </button>
            </div> -->
            <div class="gap-x-4 sm:gap-x-6 flex lg:gap-x-12">
              <a href="meal-plan" class="text-lg font-semibold leading-6 text-gray-900">Meal Plan</a>
              <a href="grocery-list" class="text-lg font-semibold leading-6 text-gray-900">Grocery List</a>
              <!-- <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Marketplace</a>
              <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Company</a> -->
            </div>
    
            <!-- leave this div so the Meal Plan and Grocery List nav links stay centered -->
            <!-- <div class="sm:flex sm:flex-1 sm:justify-end">
            </div> -->
            <div class="opacity-0 flex lg:flex-1">
              <a class="-m-1.5 p-1.5">
                <span class="sr-only">Meal Plan Grocery List</span>
                <!-- we use the below path for the image because of our app.use(express.static('public')) in server.js -->
                <img class="h-12 w-auto" src="/assets/grocery-cart-color.png" alt="grocery cart">
              </a>
            </div>
          </nav>

        </header>
        <!-- Header End -->

        <div class="mx-auto max-w-2xl pt-40">
            <div class="text-center">
              <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Grocery List</h2>
            </div>
        </div>
      
        <div class="relative isolate px-6 pt-6 lg:px-8">
          <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
          <div class="mx-auto max-w-2xl pt-1 pb-36">
    
            <div class="mx-auto mt-16 max-w-2xl lg:max-w-4xl">
              <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
    
                <!-- Fruits/Vegetables Start -->
                <div class="relative pl-16">
                  <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                      <!-- <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
                      </svg> -->
                      <svg class="h-7 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 112c-8.8 0-16-7.2-16-16V80c0-44.2 35.8-80 80-80h16c8.8 0 16 7.2 16 16V32c0 44.2-35.8 80-80 80H224zM0 288c0-76.3 35.7-160 112-160c27.3 0 59.7 10.3 82.7 19.3c18.8 7.3 39.9 7.3 58.7 0c22.9-8.9 55.4-19.3 82.7-19.3c76.3 0 112 83.7 112 160c0 128-80 224-160 224c-16.5 0-38.1-6.6-51.5-11.3c-8.1-2.8-16.9-2.8-25 0c-13.4 4.7-35 11.3-51.5 11.3C80 512 0 416 0 288z"/></svg>
                    </div>
                    Fruits / Vegetables
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    <form action="/addGrocery" method="POST">
                        <input class="bg-gray-200" type="text" placeholder="Add Item" name="itemName">
                        <input type="hidden" name="category" value="produce">
                        <input type="hidden" name="numItem" value="1">
                        <input type="hidden" name="complete" value="false">
                        <button type="submit">Add</button>
                    </form>
                
                    <ul class="items">
                      <% for(let i = 0; i < groceryListItems.length; i++) { %>

                        <% if(groceryListItems[i].category === 'produce') { %>
                          <li class="item">

                            <% if(groceryListItems[i].complete === true) { %>
                              <span class="item-name complete"><%= groceryListItems[i].itemName %></span>

                            <% } else { %>
                              <span class="item-name"><%= groceryListItems[i].itemName %></span>
                            <% } %>

                            <% if(groceryListItems[i].numItem >= 2) { %>
                              <button id="sub-num-button">-</button>
                              <span class="num-of-item"><%= groceryListItems[i].numItem %></span>
                              <button id="add-num-button">+</button>
                              

                            <% } else { %>
                              <span class="num-of-item hidden"><%= groceryListItems[i].numItem %></span>
                              <button id="add-num-button">+</button>
                              
                            <% } %>

                          </li>
                        <% } %>
                      <% } %>
                    </ul>
  
                  </dd>
                </div>
                <!-- Fruits/Vegetables End -->
    
                <!-- Proteins Start -->
                <div class="relative pl-16">
                  <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                      <!-- <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                      </svg> -->
                      <svg class="h-7 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M180.5 141.5C219.7 108.5 272.6 80 336 80s116.3 28.5 155.5 61.5c39.1 33 66.9 72.4 81 99.8c4.7 9.2 4.7 20.1 0 29.3c-14.1 27.4-41.9 66.8-81 99.8C452.3 403.5 399.4 432 336 432s-116.3-28.5-155.5-61.5c-16.2-13.7-30.5-28.5-42.7-43.1L48.1 379.6c-12.5 7.3-28.4 5.3-38.7-4.9S-3 348.7 4.2 336.1L50 256 4.2 175.9c-7.2-12.6-5-28.4 5.3-38.6s26.1-12.2 38.7-4.9l89.7 52.3c12.2-14.6 26.5-29.4 42.7-43.1zM448 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                    </div>
                    Proteins
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    <form action="/addGrocery" method="POST">
                        <input class="bg-gray-200" type="text" placeholder="Add Item" name="itemName">
                        <input type="hidden" name="category" value="protein">
                        <input type="hidden" name="numItem" value="1">
                        <button type="submit">Add</button>
                    </form>

                    <ul class="items">
                      <% for(let i = 0; i < groceryListItems.length; i++) { %>

                        <% if(groceryListItems[i].category === 'protein') { %>
                          <li class="item">

                            <% if(groceryListItems[i].complete === true) { %>
                              <span class="item-name complete"><%= groceryListItems[i].itemName %></span>

                            <% } else { %>
                              <span class="item-name"><%= groceryListItems[i].itemName %></span>
                            <% } %>

                            <% if(groceryListItems[i].numItem >= 2) { %>
                              <button id="sub-num-button">-</button>
                              <span class="num-of-item"><%= groceryListItems[i].numItem %></span>
                              <button id="add-num-button">+</button>
                              

                            <% } else { %>
                              <span class="num-of-item hidden"><%= groceryListItems[i].numItem %></span>
                              <button id="add-num-button">+</button>
                              
                            <% } %>

                          </li>
                        <% } %>
                      <% } %>
                    </ul>

                  </dd>
                </div>
                <!-- Proteins End -->
                
                <!-- Grains/Legumes/Nuts/Seeds Start -->
                <div class="relative pl-16">
                  <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                      <!-- <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                      </svg> -->
                      <svg class="h-7 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M505 41c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0L383 95c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l88-88zM305.5 27.3c-6.2-6.2-16.4-6.2-22.6 0L271.5 38.6c-37.5 37.5-37.5 98.3 0 135.8l10.4 10.4-30.5 30.5c-3.4-27.3-15.5-53.8-36.5-74.8l-11.3-11.3c-6.2-6.2-16.4-6.2-22.6 0l-11.3 11.3c-37.5 37.5-37.5 98.3 0 135.8l10.4 10.4-30.5 30.5c-3.4-27.3-15.5-53.8-36.5-74.8L101.8 231c-6.2-6.2-16.4-6.2-22.6 0L67.9 242.3c-37.5 37.5-37.5 98.3 0 135.8l10.4 10.4L9.4 457.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l68.9-68.9 12.2 12.2c37.5 37.5 98.3 37.5 135.8 0l11.3-11.3c6.2-6.2 6.2-16.4 0-22.6l-11.3-11.3c-21.8-21.8-49.6-34.1-78.1-36.9l31.9-31.9 12.2 12.2c37.5 37.5 98.3 37.5 135.8 0l11.3-11.3c6.2-6.2 6.2-16.4 0-22.6l-11.3-11.3c-21.8-21.8-49.6-34.1-78.1-36.9l31.9-31.9 12.2 12.2c37.5 37.5 98.3 37.5 135.8 0L486.5 231c6.2-6.2 6.2-16.4 0-22.6L475.2 197c-5.2-5.2-10.6-9.8-16.4-13.9L505 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-59.4 59.4c-20.6-4.4-42-3.7-62.3 2.1c6.1-21.3 6.6-43.8 1.4-65.3L409 41c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0L329.1 52.9c-3.7-5-7.8-9.8-12.4-14.3L305.5 27.3z"/></svg>
                    </div>
                    Grains / Legumes / Nuts / Seeds
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    <form action="/addGrocery" method="POST">
                        <input class="bg-gray-200" type="text" placeholder="Add Item" name="itemName">
                        <input type="hidden" name="category" value="pantry">
                        <input type="hidden" name="numItem" value="1">
                        <button type="submit">Add</button>
                    </form>
                
                    <ul class="items">
                      <% for(let i = 0; i < groceryListItems.length; i++) { %>

                        <% if(groceryListItems[i].category === 'pantry') { %>
                          <li class="item">

                            <% if(groceryListItems[i].complete === true) { %>
                              <span class="item-name complete"><%= groceryListItems[i].itemName %></span>

                            <% } else { %>
                              <span class="item-name"><%= groceryListItems[i].itemName %></span>
                            <% } %>

                            <% if(groceryListItems[i].numItem >= 2) { %>
                              <button id="sub-num-button">-</button>
                              <span class="num-of-item"><%= groceryListItems[i].numItem %></span>
                              <button id="add-num-button">+</button>
                              

                            <% } else { %>
                              <span class="num-of-item hidden"><%= groceryListItems[i].numItem %></span>
                              <button id="add-num-button">+</button>
                              
                            <% } %>

                          </li>
                        <% } %>
                      <% } %>
                    </ul>

                  </dd>
                </div>
                <!-- Grains/Legumes/Nuts/Seeds End -->
                
                <!-- Fats/Spices/Condiments Start -->
                <div class="relative pl-16">
                  <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                      <!-- <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                      </svg> -->
                      <svg class="h-7 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M428.3 3c11.6-6.4 26.2-2.3 32.6 9.3l4.8 8.7c19.3 34.7 19.8 75.7 3.4 110C495.8 159.6 512 197.9 512 240c0 18.5-3.1 36.3-8.9 52.8c-6.1 17.3-28.5 16.3-36.8-.1l-11.7-23.4c-4.1-8.1-12.4-13.3-21.5-13.3H360c-13.3 0-24-10.7-24-24V152c0-13.3-10.7-24-24-24l-17.1 0c-21.3 0-30-23.9-10.8-32.9C304.7 85.4 327.7 80 352 80c28.3 0 54.8 7.3 77.8 20.2c5.5-18.2 3.7-38.4-6-55.8L419 35.7c-6.4-11.6-2.3-26.2 9.3-32.6zM171.2 345.5L264 160l40 0v80c0 26.5 21.5 48 48 48h76.2l23.9 47.8C372.3 443.9 244.3 512 103.2 512H44.4C19.9 512 0 492.1 0 467.6c0-20.8 14.5-38.8 34.8-43.3l49.8-11.1c37.6-8.4 69.5-33.2 86.7-67.7z"/></svg>
                    </div>
                    Fats / Spices / Condiments
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    <form action="/addGrocery" method="POST">
                        <input class="bg-gray-200" type="text" placeholder="Add Item" name="itemName">
                        <input type="hidden" name="category" value="condiments">
                        <input type="hidden" name="numItem" value="1">
                        <button type="submit">Add</button>
                    </form>
                
                    <ul class="items">
                      <% for(let i = 0; i < groceryListItems.length; i++) { %>

                        <% if(groceryListItems[i].category === 'condiments') { %>
                          <li class="item">

                            <% if(groceryListItems[i].complete === true) { %>
                              <span class="item-name complete"><%= groceryListItems[i].itemName %></span>

                            <% } else { %>
                              <span class="item-name"><%= groceryListItems[i].itemName %></span>
                            <% } %>

                            <% if(groceryListItems[i].numItem >= 2) { %>
                              <button id="sub-num-button">-</button>
                              <span class="num-of-item"><%= groceryListItems[i].numItem %></span>
                              <button id="add-num-button">+</button>
                              

                            <% } else { %>
                              <span class="num-of-item hidden"><%= groceryListItems[i].numItem %></span>
                              <button id="add-num-button">+</button>
                              
                            <% } %>

                          </li>
                        <% } %>
                      <% } %>
                    </ul>

                  </dd>
                </div>
                <!-- Fats/Spices/Condiments End -->
    
                <!-- Other Start -->
                <div class="relative pl-16">
                  <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                      <!-- <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                      </svg> -->
                      <svg class="h-7 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M257.5 27.6c-.8-5.4-4.9-9.8-10.3-10.6v0c-22.1-3.1-44.6 .9-64.4 11.4l-74 39.5C89.1 78.4 73.2 94.9 63.4 115L26.7 190.6c-9.8 20.1-13 42.9-9.1 64.9l14.5 82.8c3.9 22.1 14.6 42.3 30.7 57.9l60.3 58.4c16.1 15.6 36.6 25.6 58.7 28.7l83 11.7c22.1 3.1 44.6-.9 64.4-11.4l74-39.5c19.7-10.5 35.6-27 45.4-47.2l36.7-75.5c9.8-20.1 13-42.9 9.1-64.9v0c-.9-5.3-5.3-9.3-10.6-10.1c-51.5-8.2-92.8-47.1-104.5-97.4c-1.8-7.6-8-13.4-15.7-14.6c-54.6-8.7-97.7-52-106.2-106.8zM208 144a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM144 336a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm224-64a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
                    </div>
                    Other
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    <form action="/addGrocery" method="POST">
                        <input class="bg-gray-200" type="text" placeholder="Add Item" name="itemName">
                        <input type="hidden" name="category" value="other">
                        <input type="hidden" name="numItem" value="1">
                        <button type="submit">Add</button>
                    </form>
                
                    <ul class="items">
                      <% for(let i = 0; i < groceryListItems.length; i++) { %>

                        <% if(groceryListItems[i].category === 'other') { %>
                          <li class="item">

                            <% if(groceryListItems[i].complete === true) { %>
                              <span class="item-name complete"><%= groceryListItems[i].itemName %></span>

                            <% } else { %>
                              <span class="item-name"><%= groceryListItems[i].itemName %></span>
                            <% } %>

                            <% if(groceryListItems[i].numItem >= 2) { %>
                              <button id="sub-num-button">-</button>
                              <span class="num-of-item"><%= groceryListItems[i].numItem %></span>
                              <button id="add-num-button">+</button>
                              

                            <% } else { %>
                              <span class="num-of-item hidden"><%= groceryListItems[i].numItem %></span>
                              <button id="add-num-button">+</button>
                              
                            <% } %>

                          </li>
                        <% } %>
                      <% } %>
                    </ul>
 
                  </dd>
                </div>
                <!-- Other End -->

              </dl>
            </div>
    
          </div>
          <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
            <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
        </div>
      </div>
    
    
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
    
      </div>
    

        <!-- Footer Start -->
        <!-- added 'relative' class to change position to relative to make anchor tags work in footer -->
        <footer class="footer footer-center p-10 text-base-content rounded relative bg-gray-500/85">
          <nav class="grid grid-flow-col gap-4">
            <a href="meal-plan" class="link link-hover">Meal Plan</a>
            <a href="grocery-list" class="link link-hover">Grocery List</a>
            <!-- <a class="link link-hover">Jobs</a>
            <a class="link link-hover">Press kit</a> -->
          </nav> 
          <nav>
            <div class="grid grid-flow-col gap-4">
              <a href="index.html" class="-m-1.5 p-1.5">
                  <span class="sr-only">Your Company</span>
                  <!-- we use the below path for the image because of our app.use(express.static('public')) in server.js -->
                  <img class="h-12 w-auto" src="/assets/grocery-cart-color.png" alt="grocery cart">
                </a>
            </div>
          </nav> 
          <aside>
            <p>Copyright © 2023 - All rights reserved. Created by <a href="https://philmach.netlify.app/">Phil Mach II</a> and <a href="https://chrisnelson.onrender.com">Chris Nelson</a></p>
            <p>
              <a href="https://www.flaticon.com/free-icons/supermarket" title="supermarket icons">Supermarket icons created by Freepik - Flaticon</a>
            <p>
          </aside>
        </footer>
        <!-- Footer End -->






    
    <script src="./js/main.js"></script>
</body>
</html>