<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.14/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <!-- Chris Styling Begin -->
    <div class="bg-white">

        <!-- Header Start -->
        <header class="absolute inset-x-0 top-0 z-50">
          <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
              <a href="index.html" class="-m-1.5 p-1.5">
                <span class="sr-only">Meal Plan Grocery List</span>
                <!-- we use the below path for the image because of our app.use(express.static('public')) in server.js -->
                <img class="h-12 w-auto" src="/assets/grocery-cart-color.png" alt="grocery cart">
              </a>
            </div>
            <div class="flex lg:hidden">
              <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </button>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
              <a href="meal-plan" class="text-lg font-semibold leading-6 text-gray-900">Meal Plan</a>
              <a href="grocery-list" class="text-lg font-semibold leading-6 text-gray-900">Grocery List</a>
              <!-- <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Marketplace</a>
              <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Company</a> -->
            </div>
            <!-- leave this div so the Meal Plan and Grocery List nav links stay centered -->
            <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            </div>
          </nav>
          <!-- Mobile menu, show/hide based on menu open state. -->
          <div class="lg:hidden" role="dialog" aria-modal="true">
            <!-- Background backdrop, show/hide based on slide-over state. -->
            <div class="fixed inset-0 z-50"></div>
            <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
              <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                  <span class="sr-only">Your Company</span>
                  <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
                </a>
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                  <span class="sr-only">Close menu</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
              <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                  <div class="space-y-2 py-6">
                    <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Product</a>
                    <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
                    <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>
                    <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
                  </div>
                  <div class="py-6">
                    <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <!-- Header End -->

        <div class="mx-auto max-w-2xl pt-40">
            <div class="text-center">
              <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Grocery List</h2>
            </div>
          </div>
      
        <div class="relative isolate px-6 pt-6 lg:px-8">
          <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
          <div class="mx-auto max-w-2xl pt-1 pb-36">
    
            <div class="mx-auto mt-16 max-w-2xl lg:max-w-4xl">
              <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
    
                <!-- Fruits/Vegetables Start -->
                <div class="relative pl-16">
                  <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                      <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
                      </svg>
                    </div>
                    Fruits / Vegetables
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    <form action="/addGrocery" method="POST">
                        <input class="bg-gray-200" type="text" placeholder="Add Item" name="itemName">
                        <input type="hidden" name="category" value="produce">
                        <input type="hidden" name="numItem" value="1">
                        <input type="hidden" name="complete" value="false">
                        <button type="submit">Add</button>
                    </form>
                
                    <ul class="items">
                      <% for(let i = 0; i < groceryListItems.length; i++) { %>
                        <% if(groceryListItems[i].category === 'produce') { %>
                          <li class="item">
                            <% if(groceryListItems[i].complete === true) { %>
                              <span class="item-name complete"><%= groceryListItems[i].itemName %></span>
                            <% }else { %>
                              <span class="item-name"><%= groceryListItems[i].itemName %></span>
                            <% } %>
                            <button id="sub-num-button">-</button>
                            <span class="num-of-item"><%= groceryListItems[i].numItem %></span>
                            <button id="add-num-button">+</button>
                          </li>
                          <% } %>
                      <% } %>
                    </ul>
  
                  </dd>
                </div>
                <!-- Fruits/Vegetables End -->
    
                <!-- Proteins Start -->
                <div class="relative pl-16">
                  <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                      <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                      </svg>
                    </div>
                    Proteins
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    <form action="/addGrocery" method="POST">
                        <input class="bg-gray-200" type="text" placeholder="Add Item" name="itemName">
                        <input type="hidden" name="category" value="protein">
                        <input type="hidden" name="numItem" value="1">
                        <button type="submit">Add</button>
                    </form>
                    <ul class="items">
                        <% for(let i = 0; i < groceryListItems.length; i++) { %>
                           <% if(groceryListItems[i].category === 'protein') { %> 
                            <li class="item">
                                <span class="item-name"><%= groceryListItems[i].itemName %></span>
                                <button id="add-num-button">+</button>
                                <% if(groceryListItems[i].numItem >= 1) { %>
                                <span class="num-of-item"><%= groceryListItems[i].numItem %></span>
                                <% } %>
                                <button id="sub-num-button">-</button>
                            </li>
                            <% } %>
                        <% } %>
                    </ul>

                  </dd>
                </div>
                <!-- Proteins End -->
                
                <!-- Grains/Legumes/Nuts/Seeds Start -->
                <div class="relative pl-16">
                  <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                      <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                      </svg>
                    </div>
                    Grains / Legumes / Nuts / Seeds
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    <form action="/addGrocery" method="POST">
                        <input class="bg-gray-200" type="text" placeholder="Add Item" name="itemName">
                        <input type="hidden" name="category" value="pantry">
                        <input type="hidden" name="numItem" value="1">
                        <button type="submit">Add</button>
                    </form>
                
                    <ul class="items">
                    <% for(let i = 0; i < groceryListItems.length; i++) { %>
                        <% if(groceryListItems[i].category === 'pantry') { %>
                            <li class="item">
                                <span class="item-name"><%= groceryListItems[i].itemName %></span>
                                <button id="add-num-button">+</button>
                                <% if(groceryListItems[i].numItem >= 1) { %>
                                <span class="num-of-item"><%= groceryListItems[i].numItem %></span>
                                <% } %>
                                <button id="sub-num-button">-</button>
                            </li>
                      <% } %>  
                    <% } %>
                    </ul>

                  </dd>
                </div>
                <!-- Grains/Legumes/Nuts/Seeds End -->
                
                <!-- Fats/Spices/Condiments Start -->
                <div class="relative pl-16">
                  <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                      <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                      </svg>
                    </div>
                    Fats / Spices / Condiments
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    <form action="/addGrocery" method="POST">
                        <input class="bg-gray-200" type="text" placeholder="Add Item" name="itemName">
                        <input type="hidden" name="category" value="condiments">
                        <input type="hidden" name="numItem" value="1">
                        <button type="submit">Add</button>
                    </form>
                
                    <ul class="items">
                        <% for(let i = 0; i < groceryListItems.length; i++) { %>
                            <% if(groceryListItems[i].category === 'condiments') { %>
                                <li class="item">
                                    <span class="item-name"><%= groceryListItems[i].itemName %></span>
                                    <button id="add-num-button">+</button>
                                    <% if(groceryListItems[i].numItem >= 1) { %>
                                    <span class="num-of-item"><%= groceryListItems[i].numItem %></span>
                                    <% } %>
                                    <button id="sub-num-button">-</button>
                                </li>
                          <% } %>  
                        <% } %>
                    </ul>

                  </dd>
                </div>
                <!-- Fats/Spices/Condiments End -->
    
                <!-- Other Start -->
                <div class="relative pl-16">
                  <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                      <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                      </svg>
                    </div>
                    Other
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    <form action="/addGrocery" method="POST">
                        <input class="bg-gray-200" type="text" placeholder="Add Item" name="itemName">
                        <input type="hidden" name="category" value="other">
                        <input type="hidden" name="numItem" value="1">
                        <button type="submit">Add</button>
                    </form>
                
                    <ul class="items">
                        <% for(let i = 0; i < groceryListItems.length; i++) { %>
                            <% if(groceryListItems[i].category === 'other') { %>
                                <li class="item">
                                    <span class="item-name"><%= groceryListItems[i].itemName %></span>
                                    <button id="add-num-button">+</button>
                                    <% if(groceryListItems[i].numItem >= 1) { %>
                                    <span class="num-of-item"><%= groceryListItems[i].numItem %></span>
                                    <% } %>
                                    <button id="sub-num-button">-</button>
                                </li>
                          <% } %>  
                        <% } %>
                    </ul>
 
                  </dd>
                </div>
                <!-- Other End -->

              </dl>
            </div>
    
          </div>
          <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
            <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
        </div>
      </div>
    
    
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
    
      </div>
    

        <!-- Footer Start -->
        <!-- added 'relative' class to change position to relative to make anchor tags work in footer -->
        <footer class="footer footer-center p-10 text-base-content rounded relative">
          <nav class="grid grid-flow-col gap-4">
            <a href="meal-plan" class="link link-hover">Meal Plan</a>
            <a href="grocery-list" class="link link-hover">Grocery List</a>
            <!-- <a class="link link-hover">Jobs</a>
            <a class="link link-hover">Press kit</a> -->
          </nav> 
          <nav>
            <div class="grid grid-flow-col gap-4">
              <a href="index.html" class="-m-1.5 p-1.5">
                  <span class="sr-only">Your Company</span>
                  <!-- we use the below path for the image because of our app.use(express.static('public')) in server.js -->
                  <img class="h-12 w-auto" src="/assets/grocery-cart-color.png" alt="grocery cart">
                </a>
            </div>
          </nav> 
          <aside>
            <p>Copyright © 2023 - All rights reserved. Created by <a href="https://philmach.netlify.app/">Phil Mach II</a> and <a href="https://chrisnelson.onrender.com">Chris Nelson</a></p>
            <p>
              <a href="https://www.flaticon.com/free-icons/supermarket" title="supermarket icons">Supermarket icons created by Freepik - Flaticon</a>
            <p>
          </aside>
        </footer>
        <!-- Footer End -->






    
    <script src="./js/main.js"></script>
</body>
</html>