<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Plan, Grocery List</title>
</head>
<body>
    <h1>Meal Plan</h1>
    <h2><a href="meal-plan">Meal Plan</a></h2>
    <h2><a href="grocery-list">Grocery List</a></h2>
    <h2><a href="index.html">Home</a></h2>

    <h3></h3>
    <!-- <form action="">
      <input type="week" name="week" />
      <button type="submit">Submit</button>
    </form> -->
    <br>

    <h3>Monday</h3>
    <ul>
      <% for (let i = 0; i < mealPlanStuff.length; i++) {%>

        <% if (mealPlanStuff[i].mondaymeal) {%>
          <li>
            <span><%= mealPlanStuff[i].mondaymeal %></span>
          </li>
        <% } %>
      
      <% } %>
    </ul>

    <form action="/meal-plan-form" method="POST">
      <input type="text" placeholder="monday-meal" name="mondaymeal" />
      <button type="submit">Add</button>
    </form>


    <h3>Tuesday</h3>
    <ul>
      <% for (let i = 0; i < mealPlanStuff.length; i++) {%>

        <% if (mealPlanStuff[i].tuesdaymeal) {%>
          <li>
            <span><%= mealPlanStuff[i].tuesdaymeal %></span>
          </li>
        <% } %>
      
      <% } %>
    </ul>

    <form action="/meal-plan-form" method="POST">
      <input type="text" placeholder="Tuesday-meal" name="tuesdaymeal" />
      <button type="submit">Add</button>
    </form>


    <h3>Wednesday</h3>
    <ul>
      <% for (let i = 0; i < mealPlanStuff.length; i++) {%>

        <% if (mealPlanStuff[i].wednesdaymeal) {%>
          <li>
            <span><%= mealPlanStuff[i].wednesdaymeal %></span>
          </li>
        <% } %>
      
      <% } %>
    </ul>

    <form action="/meal-plan-form" method="POST">
      <input type="text" placeholder="Wednesday-meal" name="wednesdaymeal" />
      <button type="submit">Add</button>
    </form>


    <h3>Thursday</h3>
    <ul>
      <% for (let i = 0; i < mealPlanStuff.length; i++) {%>

        <% if (mealPlanStuff[i].thursdaymeal) {%>
          <li>
            <span><%= mealPlanStuff[i].thursdaymeal %></span>
          </li>
        <% } %>
      
      <% } %>
    </ul>

    <form action="/meal-plan-form" method="POST">
      <input type="text" placeholder="Thursday-meal" name="thursdaymeal" />
      <button type="submit">Add</button>
    </form>

    <h3>Friday</h3>
    <ul>
      <% for (let i = 0; i < mealPlanStuff.length; i++) {%>

        <% if (mealPlanStuff[i].fridaymeal) {%>
          <li>
            <span><%= mealPlanStuff[i].fridaymeal %></span>
          </li>
        <% } %>
      
      <% } %>
    </ul>
    <form action="/meal-plan-form" method="POST">
      <input type="text" placeholder="Friday-meal" name="fridaymeal" />
      <button type="submit">Add</button>
    </form>

</body>
</html>